/*
Plugin Name: JUSTIMMO Api Plugin CSS
Plugin URI: http://www.justimmo.at/wordpress-api-plugin
Description: Plugin is showing the Justimmo API results
Author: bgcc
Version: 1.0
Author URI: http://www.bgcc.at
*/

/* JUSTIMMO Objekt Liste
-------------------------------------------------------------------------*/

#ji_listings {
    width: 100%;
    margin-bottom: 15px;
    border-collapse: separate;
}

.ji_withSideBar {
}

.ji_listingsHeader {
    margin-bottom: 20px;
}

.ji_listingsCount {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
}

.ji_listingsSort {
    float: left;
    display: inline;
}

.ji_listing {
}

.ji_listing > td {
    padding: 15px 0;
    vertical-align: top;
    border-bottom: 1px solid #ccc!important;

}
/*
tr.ji_listing:nth-of-type(even) td {
    background: #f6f6f6 none repeat scroll 0 0;
}*/

.ji_listing a {
    display: inline-block;
}

.ji_listingPreviewImage {
    width: 220px;
    height: 155px;
    overflow: hidden;
    margin-right: 15px;
}

#ji_listingInfos {
    display: inline-block;
    float: left;
}

#ji_listingInfos .bg_listTitle:hover a{
    color: #000;
}

.ji_rowSeparator{
    padding-bottom: 10px;
    border-bottom:1px solid #FF9935;
}

.bg_listAddress {
    margin-bottom: 10px;
}

.bg_objectSearchListMeta table td {
    padding: 0;
}

/* Realty list pager
-------------------------------------------------------------------------*/

.ji_listingsFooter {
    text-align: center;
    display: block;
    width: 280px;
    margin: 0 auto;
 }   

.ji_listingsFooter > div a {
    width: 50px;
    height: 50px;
    line-height: 43px;
    border-radius: 2px;
    display: inline-block;
}

.bg_pager01 {
    float: left;
    height: 50px;
}

.bg_pager01 a:hover {
    color: #000;
}

.bg_pager02 {
    float: left;
}

.bg_pager03 {
    float: left;
}

.bg_pager03 a:hover {
    color: #000;
}

.bg_pager02 span {
    display: inline-block;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    line-height: 47px;
    border-radius: 2px;
}

.bg_pager01 a, .bg_pager03 a {
    display: inline-block;
    border: 1px solid #ccc;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

/* JUSTIMMO Objekt Detailseite
-------------------------------------------------------------------------*/

#bg_objectDetailMetaNav {
    float: right;
    display: inline-block;
}

#bg_objektBeschreibung p {
    margin-bottom: 5px;
}

#detailImage img {
    width: 100%;
}

#objekt_vorschaubilder {
    margin-bottom: 15px;
}

#objekt_vorschaubilder a {
    text-decoration: none;
    height: 65px;
    display: block;
    width: 100px;
    overflow: hidden;
    float: left;
    margin-right: 12px;
    margin-bottom: 10px;
}

#bg_objectDetailInformation h2 {
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

#bg_objectDetailInformation ul li {
    margin-bottom: 5px;
}

#bg_objectDetailInformation ul, #bg_objectDetailInterior {
    margin-bottom: 15px;
}

.bg_address {
    margin: 0 0 25px 0;
}

.ji_realtiyState {
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: #fff;
    background: #FF9933 none repeat scroll 0 0;
    padding: 9px 20px;
    text-align: center;
}

/* JUSTIMMO Searchbox Widget
-------------------------------------------------------------------------*/
.JiApiWpSearchBarWidget {
}

#immobilien_schnellsuche h3 {
    margin-bottom: 5px;
}

.bg_formRow {
    margin-bottom: 10px;
}

.bg_formRow label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.bg_formRow label, .bg_formRow input {
    display: inline-block;
}

#bg_formInputMiete {
    float: left;
    margin-right: 10px;
}

.bg_formInput .bg_textfield {
    width: 39%;
}

#object_own_id {
    width: 100%;
}

body .bg_formInput .bg_fluidTextfield {
    width: 100%;
}

/* JUSTIMMO sonstige Helper
-------------------------------------------------------------------------*/

.bg_property_request input[type=email]{
    font-size: 13px;
    color: #aaa9a9;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    height: 35px;
}

.bg_property_request input[type=text], .bg_property_request input[type=email], .bg_property_request textarea {
    width: 100%;
	border: 1px solid #B3B3B3;
}

.bg_property_request textarea {
    height: 90px;
}

.bg_property_request input[type=submit] {
    width: 100%;
}

/* Warnungen
-------------------------------------------------------------------------*/

.alert {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
}

.alert-danger {
    background-color: #F2DEDE;
    border-color: #EBCCD1;
    color: #A94442;
}

.alert-success {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #3C763D;
}

.bg_property_request div.alert {
    margin-top: 20px;
}

/* Allgemein
-------------------------------------------------------------------------*/

.clear {
    clear: both;
}

/* Objektdetail
-------------------------------------------------------------------------*/

#bg_objectDetailInformation ul {
    list-style: none;
    padding-left: 0;
}

#detailImage {
    margin-bottom: 15px;
}

#bg_objectDetailInformation {
}

.JiApiWpSearchBarWidget .zurueckliefertewerte_right{
    float: right;
}

#total_berechnet_separator {
    margin-bottom: 2px;
    margin-top: 0;
}

/* JUSTIMMO Sidebar
-------------------------------------------------------------------------*/

.JiApiWpSearchBarWidget h3.widget-title {
    display: none;
}

#ji_sideBar .bg_formRow label{
    margin-bottom: 0;
}

#ji_sideBar h3 {
    margin-top: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: 300;
}

#ji_sideBar li {
    list-style: none;
    padding: 0;
}

form[action="index.php?ji_plugin=search"] div:last-child {
    margin-bottom: 20px;
}

#ji_searchbar_regions {
    height: 178px;
    overflow-y: scroll;
}

.bg_formRow .bg_formInput input[type="text"]{
    border-radius: 4px;
}

.bg_formRow select{
    width: 100%;
}

#ji_sideBar input[type="submit"]{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

#ji_sideBar .button-default:hover{
    background: #000;
    color: #fff;
}
/* JUSTIMMO Immocard
-------------------------------------------------------------------------*/

.ji_immoCard {
    background-color: #f6f6f6;
}

.ji_immoCard_content {
    background-color: #fff;
    margin: -50px 20px 20px 20px;
    padding: 15px;
    position: relative;
    z-index: 5;
    min-height: 300px;
}

.ji_immoCard_content h2 {
    text-align: center;
    margin: 5% 0 2.75% 0;
    word-wrap: break-word;
}

.ji_immoCard_content h2 a:hover {
    color: #000;
}

.ji_immoCard_content p {
    text-align: center;
    padding: 0 0 5px 0;
    margin-bottom: 0;
    margin-top: 0;
}

.ji_immoCard_content .fusion-button {
    color: #fff;
    position: absolute;
    bottom: 15px;
    left: 50%;
    width: 150px;
    margin-left: -75px;
    background: #FF9933 none repeat scroll 0 0;
}

.ji_immoCard_content .fusion-button:hover, #ji_content .fusion-button:hover {
    color: #fff;
    background: #000 none repeat scroll 0 0;
}

#ji_content h1 {
    font-weight: lighter;
    line-height: normal;
}

#ji_content .fusion-button {
    color: #fff;
    background: #FF9933 none repeat scroll 0 0;
}

/* Bugfix for empty p on startoage */

.fusion-footer .fusion-widget-area {
    border-top-width: 0 !important;
}

@media screen and (max-width: 800px) {
    .post-content h1 {
        font-size: 28px!important;
    }
}