/*
Plugin Name: JUSTIMMO Api Plugin CSS
Plugin URI: http://www.justimmo.at/wordpress-api-plugin
Description: Plugin is showing the Justimmo API results
Author: bgcc
Version: 1.0
Author URI: http://www.bgcc.at
*/

/* JUSTIMMO Objekt Liste
-------------------------------------------------------------------------*/

.bg_content {
}

.bg_numberObject {
    float: right;
    padding: 0;
    margin: 0;
}

.bg_listTitle {
}

.bg_listTitle a {
}

#bg_compactInfos {
    float: left;
}

.bg_smallImage {
    float: left;
    width: 220px;
    margin-right: 10px;
}

.bg_objectSearchListHeader {
    margin-bottom: 20px;
}

.bg_objectSearchListEntry {
    margin-bottom: 20px;
    width: 100%;
    float: left;
}

.bg_objectSearchListEntry a {
    display: inline-block;
}

.bg_listAddress {
    margin-bottom: 10px;
}

.bg_objectSearchListMeta table td {
    padding: 0;
}

.bg_pager01 {
    float: left;
}

.bg_pager02 {
    float: left;
}

.bg_pager03 {
    float: left;
}

.bg_pager02 span {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 5px 3px 1px 3px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.bg_pager01 a, .bg_pager03 a {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

/* JUSTIMMO Objekt Detailseite
-------------------------------------------------------------------------*/

#bg_objectDetailMetaNav {
    float: right;
    display: inline-block;
}

#bg_objektBeschreibung p {
    margin-bottom: 5px;
}

#detailImage img {
    width: 100%;
}

#objekt_vorschaubilder {
    margin-bottom: 15px;
}

#objekt_vorschaubilder a {
    text-decoration: none;
    height: 65px;
    display: block;
    width: 100px;
    overflow: hidden;
    float: left;
    margin-right: 12px;
    margin-bottom: 10px;
}

#bg_objectDetailInformation h2 {
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

#bg_objectDetailInformation ul li {
    margin-bottom: 5px;
}

#bg_objectDetailInformation ul, #bg_objectDetailInterior {
    margin-bottom: 15px;
}

.bg_address {
    margin-bottom: 10px;
}

/* JUSTIMMO Searchbox Widget
-------------------------------------------------------------------------*/
.JiApiWpSearchBarWidget {
}

#immobilien_schnellsuche {
    font-size: 13px;
}

#immobilien_schnellsuche h3 {
    margin-bottom: 5px;
}

.bg_formRow {
    margin-bottom: 10px;
}

.bg_formRow label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 13px;
}

#bg_formInputMiete {
    float: left;
    margin-right: 10px;
}

.bg_formInput .bg_textfield {
    width: 34%;
}

#object_own_id {
    width: 60%;
}

body .bg_formInput .bg_fluidTextfield {
    width: 100%;
}

/* JUSTIMMO sonstige Helper
-------------------------------------------------------------------------*/

.clear {
    clear: both;
}

.bg_property_request input[type=text], .bg_property_request textarea {
    width: 100%;
	border: 1px solid #B3B3B3;
}

.bg_property_request textarea {
    height: 90px;
}

.bg_property_request input[type=submit] {
    width: 100%;
}

/* Warnungen
-------------------------------------------------------------------------*/

.alert {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
}

.alert-danger {
    background-color: #F2DEDE;
    border-color: #EBCCD1;
    color: #A94442;
}

.alert-success {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #3C763D;
}

.bg_property_request div.alert {
    margin-top: 20px;
}

/* Allgemein
-------------------------------------------------------------------------*/

/* Objektdetail
-------------------------------------------------------------------------*/

#bg_objectDetailInformation ul {
    list-style: none;
    padding-left: 0;
}

#detailImage {
    margin-bottom: 15px;
}

#bg_objectDetailInformation {
    margin-top: 43px;
}

#cptch_input_13 {
    height: 20px;
}

/* ----- Objektangebot ----- */

.bg_content {
    margin: 0 !important;
}

#listDiv #bg_compactInfos {
    width: 490px
}

#listDiv .bg_objectSearchListHeader div:first-child {
    width: 220px;
    margin-right: 10px;
}

#listDiv .bg_objectSearchListHeader div:first-child h1 {
    margin-top: 0;
}

#listDiv .bg_objectSearchListHeader div:last-child {
    font-size: 16px;
}

/* ----   Sidebar ----*/
#text-2 ul, #immobilien_schnellsuche li {
    list-style: none;
    padding: 0;
}

form[action="index.php?ji_plugin=search"] div:last-child {
    margin-bottom: 20px;
}

#text-2 {
    width: 260px;
    float: right;
    margin-top: 48px;
}

.bg_formRow input[type="text"] {
    border-radius: 5px;
}

.bg_formRow label, .bg_formRow input {
    display: inline-block;
}

/* JUSTIMMO Immocard
-------------------------------------------------------------------------*/

@media screen and (max-width: 800px) {
    .post-content h1 {
        font-size: 28px!important;
    }
}

.ji_immoCard {
    background-color: #f6f6f6;
}

.ji_realty_shortlist {

}

.ji_immoCard_content {
    background-color: #fff;
    margin: -50px 20px 20px 20px;
    padding: 15px;
    position: relative;
    z-index: 5;
    min-height: 300px;
}

.ji_immoCard_content h2 {
    text-align: center;
    margin: 5% 0% 2.75% 0%;
    word-wrap: break-word;
}

.ji_immoCard_content h2 a:hover {
    color: #000;
}

.ji_immoCard_content p {
    text-align: center;
    padding: 0 0 5px 0;
    margin-bottom: 0;
    margin-top: 0;
}

.ji_immoCard_content .fusion-button {
    color: #fff;
    position: absolute;
    bottom: 15px;
    left: 50%;
    width: 150px;
    margin-left: -75px;
    background: #FF9933 none repeat scroll 0 0;
}

#bg_AllContent .fusion-button {
    color: #fff;
    background: #FF9933 none repeat scroll 0 0;
}

.ji_immoCard_content .fusion-button:hover, #bg_AllContent .fusion-button:hover {
    color: #fff;
    background: #000 none repeat scroll 0 0;
}

.post-12407 .post-content p:first-child {
    display: none;
}

.bg_objectSearchList div.bg_objectSearchListEntry:nth-child(2n+0) {
    background: #f6f6f6 none repeat scroll 0 0;
}

.fusion-footer .fusion-widget-area {
    border-top-width: 0 !important;
}